---
import H1 from "../../components/H1.astro";

import Layout from "../../layouts/Layout.astro";
import Main from "../../layouts/Main.astro";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug as string);
if (!post) return Astro.redirect("/404");
const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <Main>
        <div class="max-w-full prose prose-2xl dark:prose-invert">
            <H1 text={post.data.title} />
            <Image
                src={post.data.image}
                alt={post.data.title}
                format="webp"
                class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
            />
            <Content />
        </div>
    </Main>
</Layout>
