---
import { getCollection, getEntryBySlug } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import PostList from "../../components/PostList.astro";
import Main from "../../layouts/Main.astro";
import AuthorData from "../../components/AuthorData.astro";

const { slug } = Astro.params;

const author = await getEntryBySlug("authors", slug as string);

if (!author) {
    return Astro.redirect("/404");
}

const allPosts = await getCollection("posts");
const posts = allPosts.filter((post) => post.data.author === author.slug);
const { Content } = await author.render();
---

<Layout title={author.data.name}>
    <Main>
        <a href={`/authors`} class="font-bold no-underline">
            &#8701; <span class="prose dark:prose-invert prose-xl underline">
                Back to all Authors
            </span>
        </a>
        <div class="mb-12 max-w-full prose prose-2xl dark:prose-invert">
            <AuthorData authorData={author.data} />

            <Content />
        </div>
        <p class="sm:text-6xl text-4xl mb-16 font-bold">
            {`Posts by ${author.data.name}`}
        </p>

        <div class="mb-60">
            <PostList posts={posts} />
        </div>
    </Main>
</Layout>
