---
import { getCollection, getEntry, render } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import PostList from "../../components/PostList.astro";
import Main from "../../layouts/Main.astro";
import AuthorData from "../../components/AuthorData.astro";

const { slug } = Astro.params;
if (slug === undefined) return Astro.redirect("/404");

const author = await getEntry("authors", slug);
if (!author) return Astro.redirect("/404");

const posts = await getCollection(
    "posts",
    (post) => post.data.author.id === author.id,
);
const { Content } = await render(author);
---

<Layout title={author.data.name}>
    <Main>
        <a href={`/authors`} class="font-bold no-underline">
            &#8701; <span class="prose dark:prose-invert prose-xl underline">
                All Authors
            </span>
        </a>
        <div class="mb-12 max-w-full prose prose-2xl dark:prose-invert">
            <AuthorData authorData={author.data} />

            <Content />
        </div>
        <p class="sm:text-6xl text-4xl mb-16 font-bold">
            {`Posts by ${author.data.name}`}
        </p>

        <div class="mb-60">
            <PostList posts={posts} />
        </div>
    </Main>
</Layout>
