html {
  background-color: #fafafa;
}

html.dark {
  background-color: #09090b;
  color: #fff;
}

.pageContainer {
  @apply px-24 max-lg:px-10 max-sm:px-5 w-full max-w-7xl;
}

.outlineButton {
  @apply border-2 border-cyan-500 text-cyan-500 dark:border-cyan-600 dark:text-cyan-600 max-w-full prose dark:prose-invert rounded-xl p-2;
}

.primaryColor {
  @apply text-cyan-500 dark:text-cyan-600;
}

.primaryButton {
  @apply text-lg font-bold bg-cyan-500 dark:bg-cyan-600 max-w-full text-white prose dark:prose-invert rounded-xl p-2;
}
