---
import H1 from "../components/H1.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import BlogDashboard from "../components/BlogDahboard";

const user = await Astro.locals.currentUser();
console.log("🚀 ~ user:", user);
---

<Layout title="Dashboard | Bloggy">
    <Main className="w-full">
        <H1 text="Dashboard" />
        <BlogDashboard client:load user={user} />
    </Main>
</Layout>
