---
// import Privacy from "../components/Privacy.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
---

<Layout title="Bloggy">
    <Main>
        <!-- <Privacy /> -->
    </Main>
</Layout>
