---
import TagList from "./TagList.astro";

type Props = {
    allTags: string[];
    allAuthors: string[];
    filtered: boolean;
    noOfPosts: number;
};
const { allTags, allAuthors, filtered, noOfPosts } = Astro.props;
---

<div class="flex flex-col justify-between lg:gap-4 mb-12">
    <TagList field="tags" tags={allTags} title="Tags:" />
    <TagList field="authors" tags={allAuthors} title="Authors:" />
    {
        (
            <div class="flex justify-between items-center">
                <h4 class="font-bold text-3xl max-w-full prose dark:prose-invert">
                    {`${noOfPosts} post${noOfPosts !== 1 ? "s" : ""} found`}
                </h4>
                <a
                    aria-disabled={!filtered}
                    class={`${!filtered ? "cursor-not-allowed text-zinc-300 border-zinc-300 dark:text-zinc-700 dark:border-zinc-700" : "text-cyan-500 border-cyan-500 dark:text-cyan-600 dark:border-cyan-600"} flex gap-1 items-center font-bold border-2  max-w-full prose dark:prose-invert rounded-xl p-2`}
                    href={filtered ? "/blog" : ""}
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-8 h-8"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        />
                    </svg>
                    <span class="text-xl text-center"> Clear Filter </span>
                </a>
            </div>
        )
    }
</div>
