---

---

<footer class="w-full flex justify-center bg-black border-t">
    <div class="pageContainer flex justify-between text-white">
        <div class="flex flex-col">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
        <a href="#">go to top</a>
    </div>
</footer>
