---

---

<footer
    class="w-full flex justify-center py-14 bg-cyan-600 dark:bg-cyan-700 shadow-[rgba(0,0,15,0.5)_0_1px_102px_10px] shadow-cyan-50 dark:shadow-cyan-950"
>
    <div class="pageContainer flex justify-between text-white">
        <div class="flex flex-col">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
        <a href="#content">go to top</a>
    </div>
</footer>
