---
type Props = {
    text: string;
    className?: string;
};
const { text, className } = Astro.props;
---

<h1
    class={`${className} my-6 max-w-full prose sm:text-6xl text-4xl font-bold dark:prose-invert uppercase`}
>
    {text}
</h1>
