---
import { Image } from "astro:assets";
import Nav from "../components/Nav";
import ThemeIcon from "./ThemeIcon";
---

<header
    class="bg-gray-50/95 dark:bg-gray-950/95 fixed top-0 w-full flex justify-center shadow-xl dark:shadow-gray-800"
>
    <div
        class="flex justify-between items-center justify-self-center pageContainer"
    >
        <a href="/" class="flex gap-x-1 sm:gap-x-4 items-center align-middle">
            <Image
                src="/images/logo.png"
                alt="Bloggy logo"
                width={50}
                height={50}
                format="webp"
                class="w-14 sm:w-16 rounded-xl invert dark:invert-0"
            />

            <p
                class="uppercase max-w-full prose text-3xl sm:text-6xl text-zinc-900 dark:text-zinc-100"
            >
                Bloggy
            </p>
        </a>

        <div class="flex gap-4 sm:gap-12">
            <ThemeIcon client:load />
            <Nav client:load />
        </div>

        <!-- {
        userEmail?.value ? (
            <a
                href="/logout"
                class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
            >
                Logout
            </a>
        ) : (
            <a
                href="/login"
                class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
            >
                Login
            </a>
        )
    } -->
    </div>
</header>
