---
import { Image } from "astro:assets";
import Nav from "../components/Nav";
import ThemeIcon from "./ThemeIcon";
import AuthButton from "./AuthButton.astro";

type Props = {
    showLogo?: boolean;
};

const { showLogo = true } = Astro.props;
const currentPath = Astro.url.pathname;
const user = await Astro.locals.currentUser();
---

<header
    class="z-40 bg-gray-50/95 dark:bg-gray-950/95 fixed top-0 w-full flex justify-center shadow-xl dark:shadow-cyan-950"
>
    <div
        class="flex justify-between items-center justify-self-center pageContainer"
    >
        <a href="/" class="flex gap-x-1 sm:gap-x-4 items-center align-middle">
            <Image
                style={{ opacity: showLogo ? 1 : 0 }}
                id="headerLogo"
                src="/images/logo.png"
                alt="Bloggy logo"
                width={50}
                height={50}
                format="webp"
                class="w-14 sm:w-16 rounded-xl invert dark:invert-0"
            />
            <p
                style={{ opacity: showLogo ? 1 : 0 }}
                class="uppercase prose font-blod text-3xl sm:text-6xl text-zinc-900 dark:text-zinc-100"
            >
                Bloggy
            </p>
        </a>

        <div class="flex items-center gap-4 sm:gap-12">
            <ThemeIcon client:load />
            <AuthButton className="lg:order-last" />
            <Nav isAuthorized={!!user} currentPath={currentPath} client:load />
        </div>
    </div>
</header>
