---
import { Image } from "astro:assets";
import Nav from "../components/Nav";
---

<header
    class="bg-white/95 sticky top-0 flex justify-between items-center justify-self-center w-full"
>
    <a href="/" class="flex gap-x-4 items-center align-middle">
        <Image
            src="/images/bloggy-logo.png"
            alt="Bloggy logo"
            width={29}
            height={29}
            format="webp"
            class="w-16 rounded-xl invert"
        />

        <p class="uppercase text-3xl text-zinc-900">Bloggy</p>
    </a>

    <Nav client:load />

    <!-- {
        userEmail?.value ? (
            <a
                href="/logout"
                class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
            >
                Logout
            </a>
        ) : (
            <a
                href="/login"
                class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
            >
                Login
            </a>
        )
    } -->
</header>
