---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import PostList from "./PostList.astro";
import TagList from "./TagList.astro";
import H1 from "./H1.astro";
import { and, Author, db, desc, eq, Post } from "astro:db";
import type { PostType } from "../types";

const [allPosts] = await Promise.all([
    db
        .select({
            featured: Post.featured,
            id: Post.id,
            title: Post.title,
            slug: Post.slug,
            description: Post.description,
            image: Post.image,
            status: Post.status,
            tags: Post.tags,
            createdAt: Post.createdAt,
            updatedAt: Post.updatedAt,
            author: {
                id: Author.id,
                name: Author.name,
                username: Author.username,
            },
        })
        .from(Post)
        .where(eq(Post.status, "published"))
        .leftJoin(Author, eq(Author.id, Post.authorId)),
]);
const allTags = [
    ...new Set(
        allPosts
            .flatMap((post) =>
                typeof post.tags === "string"
                    ? JSON.parse(post.tags)
                    : post.tags,
            )
            .filter(Boolean),
    ),
].map((tag) => ({ value: tag, label: tag }));

const featuredposts = allPosts.filter((post) => post.featured);
---

<div class="flex flex-col items-center justify-center w-full">
    <Image
        src="/images/logo.png"
        alt="Bloggy logo"
        width={200}
        height={200}
        format="webp"
        class="rounded-xl invert dark:invert-0 -z-10"
    />

    <p
        class="uppercase max-w-full prose text-6xl sm:text-9xl text-zinc-900 dark:text-zinc-100"
    >
        Bloggy
    </p>
    <p class="max-w-full prose dark:prose-invert text-center text-3xl">
        your ultimate destination for insightful articles.
    </p>
</div>

<div class="my-20 md:m-20 lg:m-40 flex flex-col items-center gap-4">
    <H1
        className="text-center"
        text="Find posts from wide range of categories"
    />
    <TagList tags={[...allTags, ...allTags, ...allTags]} justifyCenter />
</div>
<div class="">
    <H1 text="Featured Posts:" />
    <PostList posts={featuredposts as PostType[]} />
</div>
