---
import { Image } from "astro:assets";
---

<div class="flex flex-col items-center justify-center w-full">
    <Image
        src="/images/logo.png"
        alt="Bloggy logo"
        width={200}
        height={200}
        format="webp"
        class="rounded-xl invert dark:invert-0 -z-10"
    />

    <p
        class="uppercase max-w-full prose text-6xl sm:text-9xl text-zinc-900 dark:text-zinc-100"
    >
        Bloggy
    </p>
    <p class="max-w-full prose dark:prose-invert text-center text-3xl">
        your ultimate destination for insightful articles.
    </p>
</div>
