---
import type { Post } from "../content/config";
import PostCard from "./PostCard.astro";

type Props = {
    posts: Post[];
};

const { posts } = Astro.props;
---

<div class="grid grid-cols-2 gap-x-16 gap-y-14 max-md:grid-cols-1 mb-24">
    {
        posts
            .sort((p1, p2) =>
                new Date(p2.data.date) > new Date(p1.data.date) ? 1 : -1,
            )
            .map((post) => <PostCard post={post} />)
    }
</div>
