---
import { Image } from "astro:assets";
import SocialIcon from "./SocialIcon";

type Props = {
    social?: {
        platform: string;
        link: string;
    }[];
    className?: string;
};
const { social, className } = Astro.props;
---

<div
    class={`${className} flex flex-wrap divide-x divide-zinc-950 dark:divide-zinc-50`}
>
    {
        social?.map(({ platform, link }, _index, all) => {
            return (
                <a
                    class="px-4 text-xl flex items-center"
                    href={link}
                    target="_blank"
                    title={platform}
                >
                    <SocialIcon
                        platform={platform}
                        className={
                            all.length > 3
                                ? "hidden"
                                : "hidden min-[460px]:max-[768px]:block xl:block ml-1"
                        }
                        client:load
                    />
                </a>
            );
        })
    }
</div>
