---
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";
type Props = {
    tags: CollectionEntry<"posts">["data"]["tags"];
    title?: string;
    field?: string;
};

const { tags, title,  field = "tags" } = Astro.props;
---

<div class="grid grid-cols-[auto,1fr] gap-x-10 gap-y-3 mb-4 max-lg:grid-cols-1">
    {
        title && (
            <h4 class="font-bold text-3xl prose dark:prose-invert">{title}</h4>
        )
    }

    <div class="flex gap-4 flex-wrap items-center">
        {tags?.map((tag) => <Tag field={field} tag={tag} />)}
    </div>
</div>
