---
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";
type Props = {
    tags: CollectionEntry<"posts">["data"]["tags"];
    title?: string;
    field?: string;
    justifyCenter?: boolean;
};

const { tags, title, field = "tags", justifyCenter } = Astro.props;
---

<div
    class={`${title ? "gap-x-10" : ""} grid grid-cols-[auto,1fr] items-center gap-y-3 mb-4 max-lg:grid-cols-1`}
>
    {
        title && (
            <h4 class="font-bold text-3xl prose dark:prose-invert">{title}</h4>
        )
    }

    <div
        class={`flex gap-4 flex-wrap items-center ${!justifyCenter ? "justify-start" : "justify-center"}`}
    >
        {tags?.map((tag) => <Tag field={field} tag={tag} />)}
    </div>
</div>
